.stand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-start;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: flex-start;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-self: flex-start;
}
